<?xml version="1.0"?>

<launch>
<node name="motor_control" pkg="motor_control" type="motor_control.py" output="screen"/>
    <param name="vel_gain" value="38.0"/>
    <param name="omg_gain" value="5.5"/>
    <param name="port" value="/dev/ttyUSB1"/>
    <!-- <param name="~vel_gain" value="1"/> -->
</launch>